<h1> ITEMS OF STOCK</h1>


<table class="row" id='stock table'>
  <caption><h2>STOCK IN STORE</h2>
    <tr>
    <th>ITEM NAME</th>
    <th>MANUFACTURER</th>
    <th>CLASSIFICATION</th>
    <th>STOCK-ON-HAND</th>
    <th>UNIT COST</th>
    <th>SELL PRICE</th>
    <th>VIEW ITEM</th>
    <th>DELETE ITEM</th>
  </tr>
  <% for stock in @stock%>
  <tr>
    <td><%=stock.name %></td>
    <td><%=stock.manufacturer_id%></td>
    <td><%=stock.type%></td>
    <% if stock.quantity < stock.bsl %>
    <td style='background-color:red'><%=stock.quantity%></td>
    <%else%>
    <td><%=stock.quantity%></td>
    <%end%>
    <td><%=stock.unit_cost%></td>
    <td><%=stock.sell_price%></td>
    <td><a href='/stock/<%=stock.id%>'>View Item Detail</td>
      <form method='post' action='stock/<%=stock.id%>/deleted'>
        <td><input type='submit' value='DELETE ITEM'</td>
      </form>

  </tr>
  <% end %>


</table>

<h1><a href='/stock/addstock'>ADD STOCK</a></h1>
