<section id='details'>
<p>Name:<%=@stock.name%></p>
<p>Manufacturer:<%=@stock.manufacturer_id%></p>
<p>Type:<%=@stock.type%></p>
<p>Stock-on-hand:<%=@stock.quantity%></p>
</section>

<img src="<%=@stock.url%>">
<p><a href='/stock/<%=@stock.id%>/update'>UPDATE</a></p>
<article>
  <h3><%=@stock.description%></h3>
</article>
